.DS_Store
.bak
PBI/*.mwb.bak
/PBI/PBI2/Current/implementacao/SAD2021_Weka/build/
/PBI/PBI2/Current/implementacao/SAD2021_API+Weka/build/
/PBI/PBI2/Current/implementacao/SAD2021_API+Weka/dist/
/PBI/PBI2/Current/implementacao/PBI2/nbproject/private/
/PBI/PBI2/Current/implementacao/PBI2/build/
/PBI/PBI2/Current/implementacao/SAD2021_Weka/dist/
